.jumbotron{
    min-height: 130px;
    max-height: 200px;
    padding: 1rem;
}
.hr-1 {
    max-width: 75%;
    min-width: 20%;
}
.box{
    background-color:grey;
    min-height: 150px;
    margin: 0.5em;
}